
<div>
  <h2> Grocery list manager </h2>

  <div class="row">
      <div class="col-xs-6 col-md-4 col-centered">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="enter grocery items" [(ngModel)]="task" />
              <div class="input-group-btn">
                  <button class="btn btn-primary" type="button" (click)="onClick()">
      <span class="glyphicon glyphicon-ok"></span>
      </button>
              </div>
          </div>
      </div>
    </div>

  <br />


<div class="col-xs-6 col-md-4 col-centered">
  <ul class="list-group">
    <li *ngFor="let task of tasks" class="list-group-item" id="margin-bottom">
    
      <span> {{ task.name }} </span>
        
   </ul>
</div>

</div>
