
h2{
  text-align: center;
  margin-top: 50px;
  padding-bottom: 15px;
}
#margin-bottom{
 margin-bottom: 0px;
}
.col-centered{
float: none;
margin: 0 auto;
}
.strike{
    text-decoration:line-through;
}
.list-group-item {
 word-break: break-all;
}
